@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------
   Tiptap / ProseMirror styles
-------------------------------- */

.ProseMirror ul {
  list-style-type: disc; 
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.ProseMirror li {
  margin: 0.25rem 0;
}

.ProseMirror li > p {
  margin: 0;
}

/* Viewer styles for Tiptap HTML */

.prose ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.prose ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.prose li > p {
  margin: 0;
}

.prose p {
  margin: 0.5rem 0;
}

span[data-svgicon] {
  display: inline-block;
  vertical-align: middle;
}

span[data-svgicon] svg {
  display: inline;
}

p[data-indent="1"] {
  margin-left: 2rem;
}

p[data-indent="2"] {
  margin-left: 4rem;
}

p[data-indent="3"] {
  margin-left: 6rem;
}

p[data-indent="4"] {
  margin-left: 8rem;
}

p[data-indent="5"] {
  margin-left: 10rem;
}